.new-user {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.new-user-title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #5cb85c;
  letter-spacing: 1.5px;
}

.about {
  font-size: 15px;
}

.happyman {
  margin-top: 40px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
}
.new-account {
  width: 100%;
  display: flex;
  margin: 40px 40px 40px 0;
}

.new-account-form {
  border: 1px rgb(243, 243, 243) solid;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
  background-color: white;
  padding: 30px 50px 30px 50px;
  margin-left: 10px;
  height: 230px;
  width: 370px;
  border-radius: 6px;
  transition: height .2s ease-in-out;
  border: .5px solid rgb(223, 220, 220);
}

.new-account-closed {
  border: 1px rgb(243, 243, 243) solid;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
  background-color: white;
  padding: 30px 50px 30px 50px;
  margin-left: 10px;
  height: 100px;
  width: 370px;
  border-radius: 6px;
}

.new-account-icon {
  font-size: 32px;
  color: #5cb85c;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
}

.new-account-icon:focus {
  outline: none;
}

.next-link {
  display: flex;
  align-items: flex-end;
}

.link {
  padding: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.newaccountbutton {
  cursor: pointer;
  background-image: none;
  background-color: #5cb85c;
  width: 80px;
  height: 40px;
  border: none;
  color: white;
}

.newaccountbutton:hover {
  background-color: #438843;
  color: white;
}

.addnewbutt{
  background-color: #5cb85c;
}
.greenplus{
  color: #5cb85c;
  background: transparent;
  box-shadow: none
}


