@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.header {
  margin-bottom: 0;
}

.savings-parent {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.savings-wrapper {
  width: 81%;
}

.subheader {
  display: flex;
  border-bottom: 1px solid rgb(236, 236, 236);
  background-color: #5cb85c;
}

.subheader-items {
  margin: 10px 25px 10px 25px;
  color: white;
  cursor: pointer;
}
.calc-box {
  position: absolute;
  width: 70%;
  z-index: 1;
}

.calculator-parent {
  display: flex;
  border: 1px solid rgb(226, 225, 225);
  padding: 30px;
  border-radius: 8px;
  flex-direction: column;
  width: 30%;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
  font-family: 'Raleway', sans-serif;
  background-color: white;
}
.debt-btn {
  width: 80px;
  height: 30px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(90, 196, 245);
  color: white;
}

.debt-inputs {
  padding: 5px;
  margin-top: 5px;
  border-radius:4px;
  border: .5px solid lightgray;
}
.save-debt-goal {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #5cb85c;
}

.debt-currency {
  font-family: 'Varela Round', sans-serif;
}
.newgoal-parent{
  display: flex;
  border: 1px solid rgb(226, 225, 225);
  padding: 30px;
  border-radius: 8px;
  flex-direction: column;
  width: 30%;
  box-shadow: 3px 3px 11px 0px rgba(189,189,189,0.65);
  font-family: 'Varela Round', sans-serif;
  background-color: white;
}

.completedgoals {
  text-decoration: none;
}

.newgoal-flex {
  display: flex;
}

.enddate {
  align-self: flex-end;
  padding-right: 6px;
}

.options {
  display: flex;
  justify-content: flex-end;
  color: rgb(153, 153, 153);
  margin: 20px;
  margin-right: 80px;
  cursor: pointer;
}

.option-detail {
  margin-right: 20px;
  margin-left: 4px;
}

.op-black {
  color: black;
}

.hide {
  display: none;
}
.start-title {
  margin-bottom: 20px;
  font-size: 40px;
}
.start-goals {
  font-family: 'Raleway', sans-serif;
}
.first-goal {
  margin: 40px 0 0 0;
}

@media (max-width: 800px) {
  .calc-box {
    width: 100%;
    border: none;
  }
  .calculator-parent, .newgoal-parent {
    width: 100%;
    border: none;
  }
  .options {
    margin-right: 0;
    font-size: 12px;
  }
  .savings-wrapper {
    width: 100%;
    justify-content: center;
  }
  .start-title, .start-goals{
    margin: 0 20px 10px 20px;
  }
}