.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.graphs-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-item {
  display: flex;
  justify-content: center;
  height: 50em;
  margin: 0;
}

.carousel {
  width: 100%;
}

.graph-add-bal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthly-changes {
  margin: 10px;
  color: rgb(170, 170, 170);
}

svg {
  stroke: none;
}
.superTotal{
  font-size: 50px
}
.grandTotalMasterOfSecrets{
  position: absolute;
  font-size: 80px;
  color: rgb(0, 0, 0);
  z-index: 1000;
  margin-left: 300px;
  box-shadow: 1px 1px 10px 1px rgba(175, 174, 174, 0.65);
  background: rgba(0, 0, 0, 0.137)
}