.header {
  margin: 0;
}

/* //Landing Carousel Page */
.landing-carousel {
  margin: 0 auto;
}

.text-box {
  border-radius: 5px;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 0 auto;
  background-color: rgba(46, 49, 49, .8);
}

.signup-box {
  width: 70%; 
  padding: 50px;
  margin: 0 auto;
}
