@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
    /* background: linear-gradient(to bottom, #ffffff 0%, #d6d6d6 100%); */ 
    /* background-attachment: fixed */
}
button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
}
svg{
    stroke: red;
    fill: red
}
input{
    margin-right: 10px;
}
.all-accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    min-height: 100vh;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
}
.account{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;
    background: rgb(255, 255, 255);
    flex-direction: row;
    width: 70%;
    margin-top: 50px;
    border-bottom-style: solid;
    border-bottom-color: #d6d6d6;
    border-bottom-width: 1px;
    height: 50px;
}
.accountName{
    grid-column: 1/2;
    margin: 0;
    justify-self: left;
    font-size: 20px;
}
.accountBalance{
    grid-column: 3/4;
    margin: 0;
    color: #5cb85c;
    font-size: 30px;
    justify-self: right;
    font-family: 'Varela Round', sans-serif;
}
.trashIcon{
    position: relative;
    left: 35%;
    bottom: 100px;
    display: block;
    opacity: 0;
}
.everyAccount{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}

.fa-trash-alt{
    color: rgb(172, 172, 172);
    font-size: 20px
}
.everyAccount:hover .trashIcon {
    display: block;
    opacity: 100;
}
.fa-pencil-alt{
    color: rgb(172, 172, 172);
    font-size: 20px;
}
.iconx{
    transition: .5s;
}
.circle{
    background: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    border-bottom: rgb(221, 221, 221);
    border-bottom-width: 1px;
    border-bottom-style: solid
}
.iconactive{
    transform: rotate(45deg);
}
.history{
    height: 25em;
    background: white;
    transition: .5s;
    color: black;
    width: 70%;
    display: flex;
    flex-direction: column
}
.details{
    background: none;
    width: 100%;
    overflow: auto;
    margin-top: 5px;
}
.btn.btn-success{
    width: 10%;
    margin: 0;
    height: 34px;
    padding: 5px;
}

.historydisplay{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}
.historydisplay:hover{
    background: rgb(238, 238, 238)
}
.numbers{
    align-items: unset;
    margin: 0;
    max-height: 500px;
    min-height: 200px;
}
.dateTime{
    grid-column: 1/3;
    justify-self: left;
    font-size: 15px;
    margin: 0;
    color: rgb(172, 172, 172);
}
.historyBalance{
    grid-column: 6/8;
    justify-self: left;
    margin: 0;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Varela Round', sans-serif;
}
.iconbuttons{
    grid-column: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.editButton{
    font-size: 10px
}
.deleteBalance{
    font-size: 10px
    
}
.inputs{
    display: none;
}
.form-inline{
    display: flex;
}
.notvisible{
    height: 0px;
    color: white
}
h2{
    font-size: 25px
}

.icon {
    position: absolute;
    top: 40px;
    left: 130px;
}

.icon-list-view {
    display: flex;
}
.navbar-brand{
    padding: 0;
    height: 40px;
    margin-top: 10px
}
.editname {
  cursor: pointer;
  margin-right: 10px;
}
.listinput{
    height: 25px;
    width: 100px;
    color: rgb(172, 172, 172);
    font-size: 15px
}
.buttonstuff{
    display: flex;
    flex-direction: row
}
.listbutton{
    background: none;
    height: 25px;
    border: none;
    width: 70px
}

.modal-btn {
  cursor: pointer;
}

.modal-dialog {
  width: 70vw;
  height: 100vh;
}

.modal-header {
  padding-bottom: 0;
}

.modal-graph {
  display: flex;
  justify-content: center;
}