@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.card{
    background: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    border: .5px solid rgb(228, 227, 227);
    box-shadow: 2px 2px 20px 1px rgb(179, 179, 179);
    margin: 20px;
    padding: 20px;
    height: 450px
}
.progressLoader{
  margin: 0;
  margin-left: 4px;
}
text {
    font-size: 20px;
    margin: 0;
}
.CircularProgressbar{
    text-align: center;
}
.CircularProgressbar-path{
    transition: .5s
}
.percentage{
    position: relative;
    left: 5px;
    bottom: 170px;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}
.cardNumber{
    font-family: 'Varela Round', sans-serif;
    color: #5cb85c
}
.input{
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    margin-bottom: 20px;
    outline: none
}

.cardwrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.delete {
  position: fixed;
  left: 288px;
  color: rgb(196, 43, 43);
  cursor: pointer
}

.edit {
  position: fixed;
  left: 288px;
  color: rgb(194, 43, 43);
  cursor: pointer;
  font-size: 15px;
}