body {
  background-color: white;
  height: 100vh;
}
.loading-page {
  display: flex;
  justify-content: center;
}

.loading-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: green;
}

.active-nav {
  color: red;
}
